@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --main-color2: #FA812F;
}

.background {
    width: 100vw;
    height: 100vh;
    background: url('../../img/AuthBackground.png') 100% 100% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer {
    display: flex;
}

.leftPart img {
    width: 400px;
}

.rightPart {
    width: 400px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register {
    width: 300px;
    /* padding: 10px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px var(--main-color2) solid;
}

.register span {
    font: 1.2em "Bebas Neue", normal;
    font-weight: 400;
    font-size: 35px;
    color: var(--main-color2);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    color: var(--main-color2);
}

.register-form {
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputs-r {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputs-r input {
    height: 45px;
}

.registerMessage {
    color: red;
    align-self: flex-start;
    /* padding: 5px 0px 10px 0px; */
}