header {
  width: 60px;
  height: 100vh;
  background: #FA4032;
  float: left;
}

.topNavMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topNavMenuChild {
  width: 100%;
  height: 60px;
  padding: 8px;
}

.topNavMenuChild:last-child {
  background: #AF2F26;
}

.topNavMenuChild:hover {
  cursor: pointer;
}

.topNavMenuChild img {
  width: 100%;
  height: 100%;
}

header nav {
  height: 80%;
}

ul.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0px;
  list-style-type: none;
}

li.menu_list {
  width: 100%;
  height: 60px;
  padding: 10px;
}

li.menu_list img {
  width: 40px;
}

li.menu_list:hover {
  cursor: pointer;
  background: #FF9263;
}

